

.wrapper{
    min-height: 100%;
}


.back_img{
    /*margin:0;*/
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;

    /*background-image: url("img/zvezdy-tekstury.svg");*/
    background-image: url("../img/backSpace.jpg");
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    min-height: calc(100vh - 110px);
}
.body_left{
    text-decoration: none;
    width:49%;
    height: 500px;
    background-color: rgba(0, 128, 0, 0.4);
    display: inline-block;
    /*clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);*/
    border-right: 5px solid rgba(255, 0, 0, 0.82);
    border-bottom: 5px solid rgba(255, 0, 0, 0.82);
    -moz-transform: skew(10deg);
    -webkit-transform: skew(10deg);
    transform: skew(10deg);

}
.body{
    width:1024px;
    margin: 0 auto;
    padding: 20px;
    /*position: absolute; */

    box-sizing: border-box;
    min-height: 100%;

}

.body_right{

    width: 49%;
    height: 500px;
    background-color: rgba(0, 0, 255, 0.4);
    display: inline-block;
    /*clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);*/
    border-left: 5px solid rgba(255, 0, 0, 0.82);
    border-bottom: 5px solid rgba(255, 0, 0, 0.82);
    -moz-transform: skew(10deg);
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
}

.body_left:hover{
    background-color: rgba(0, 128, 0, 0.78);
    border-right: 5px solid rgba(255, 224, 122, 0.82);
    border-bottom: 5px solid rgba(255, 224, 122, 0.82);
}

.body_right:hover{
    background-color: rgba(38, 38, 201, 0.77);
    border-left: 5px solid rgba(255, 224, 122, 0.82);
    border-bottom: 5px solid rgba(255, 224, 122, 0.82);
}



.body_left_img{
    width: 300px;
    position:absolute;
    top:60px;
    right:100px;
    -moz-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
}

.body_right_img{
    width: 400px;
    position:absolute;
    top:50px;
    left:40px;
    -moz-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
}
.body_img{
    width: 100%;
}

.body_right_text{
    padding-left:10px;
  color:white;
    font-size: 30px;
}

.body_left_text{
    padding-left:10px;
    color:white;
    font-size: 30px;

}

.body_bottom{
    height: 200px;
    margin: 0 auto;
    width: 960px;
    background-color: rgba(255, 0, 0, 0.32);
    -moz-transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    color:white;
    font-size: 30px;
    padding: 10px;
    border-top: 5px solid rgba(255, 0, 0, 0.82);
    margin-top:1px;
}
.body_bottom:hover{
    background-color: rgba(219, 36, 36, 0.74);
    border-top: 5px solid rgba(255, 224, 122, 0.82);
}
.body_bottom_img{
background-color: aqua;
}
.body_bottom_image{
    position:absolute;
    top:14px;
    left:300px;
    width:300px ;
    -moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
}


.footer{
    border-top: 1px solid #4e4e4e;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 0;

    width: 100%;

    height: 80px;
    margin-top: -80px;
}
